/** @format */
:root {
	--background-color: #18191a;
	--text-color: #fff;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--text-color);
	/* background-color: var(--background-color); */
}

a {
	color: inherit;
	text-decoration: none;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
}
