/** @format */

.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

.main svg {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.section {
	width: 90%;
	margin: 0 auto;
	min-height: 100vh;
}


